 * {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
 }

 body {
   text-align: center;
   background: linear-gradient(-45deg, #0051ff, #1cff8ed8, #267c23, #38c4bd);
   background-size: 400% 400%;
   animation: gradientMove 15s ease infinite;
 }

 @keyframes gradientMove {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0% 50%;
   }
 }

 a{
  color: #ffffff;
  background: #001e4d;
  border: 1px solid #222;
 }

 .btnMenu{
  background: #001e4d;
  border: 1px solid #222;
 }

 .app {
   background: transparent;
   width: 90%;
   max-width: 600px;
   margin: 20px auto 0;
   padding: 30px;
 }

 .quiz {
   padding: 20px 0;
 }

 .btn {
   background: #033252;
   color: #ffffff;
   font-weight: 500;
   width: 100%;
   border: 1px solid #222;
   padding: 10px;
   margin: 10px 0;
   text-align: left;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.3s;
   height: auto;
   transition: transform 0.3s ease, filter 0.3s ease;
 }

 .btn:hover {
   transform: scale(1.1);
   filter: brightness(1.2);
   cursor: pointer;
 }

 #next-btn {
   background: #001e4d;
   color: #ffffff;
   font-weight: 500;
   width: 150px;
   text-transform: uppercase;
   letter-spacing: 1px;
   transition: 0.3s ease;
   border: 0;
   padding: 10px;
   margin: 20px auto 0;
   border-radius: 4px;
   cursor: pointer;
   display: none;
   box-shadow: 0 0 5px #92027a,
     0 0 0px #92027a,
     0 0 0px #92027a,
     0 0 0px #92027a;
 }

 #next-btn:hover{
  box-shadow: 0 0 10px #92027a,
              0 0 20px #92027a,
              0 0 30px #92027a,
              0 0 50px #92027a,
              0 0 70px #92027a;
  transform: scale(1.05);
 }

 .correct {
   background: #00ff00;
 }

 .incorrect {
   background: #d30101;
 }