    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      text-align: center;
      background: linear-gradient(-45deg, #1000e9, rgb(111, 1, 255),  rgb(153, 0, 255), rgb(99, 0, 165));
      animation: gradientMove 5s ease infinite;
    }

    @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    main {
      height: 604px;
      border: 3px;
      border-style: hidden;
      border-color: black;
      border-radius: 5px;
      text-align: center;
      align-content: center;
      align-items: baseline;
    }

    p {
      color: white;
      font-size: 150%;
      border: 15 px solid black;
      border-radius: 1%;
    }

    